{% extends 'women_welfare/base.html' %}
{% load static %}
{% block content %}
<html>
<head>
<title>Edit</title>
<!-- Custom Theme files -->
<link href="{% static 'donate/css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Flat Registration Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--Google Fonts-->
<style>
    .login input[type="text"] {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #180b0b99;
    }
    .login input[type="radio"] {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #180b0b99;
    }
       .navbar-right {
    /* padding-right: 30px; */
    padding-left: 47px;
}
  .agileits_w3layouts_banner_nav {
     
    margin: -50px auto;
  }
  #h1{
      padding-top: 80px;
  } 
</style>
</head>    
<h1 id="h1">Update Details</h1>
<div class="login">
		
                <div class="lock"> <img src="{% static 'images/lock.png' %}" alt="" title=""/> </div>
		
		<span class="line"> </span>
                <form action="" method="post" enctype="multipart/form-data">
                   {% csrf_token %}
                    Member Name
                    <input type="text" placeholder="Name" name="name" value="{{data.name}}"/>
                 
                    
          
                    <br>
                    <br>
                    
                  Date OF Birth: 
                    <br>
                    <input type="text" placeholder="Dob" name="dob" value="{{data.dob}} "/>
                    <br>
                    <br>
                     
                  Marriage status: 
                    <br>
                    <input type="text" placeholder="Marriage status" name="status1" value="{{data.status1}} "/>
                    <br>
                    <br>
                     

                    Address
                    <input type="text" placeholder="Address" name="address" value="{{data.address}}"/>
                 
                    
          
                    <br>
                    <br>
                    District
                    <input type="text" placeholder="District" name="district" value="{{data.district}}"/>
                 
                    
          
                    <br>
                    <br>
                    Phone
                    <input type="text" placeholder="Phone" name="phone" value="{{data.phone}}"/>
                 
                    
          
                    <br>
                    <br>
                  
		 
                  
                    Account
		<input type="text" placeholder="Account Number" name="account" value="{{data.account}} "/>
                <br>
                    <br>
                    Bank
                    <br>
                <input type="text" placeholder="Bank Details" name="bank" value="{{data.bank}}"/>
              
               
                <br>
                   <br>
                   <input type="file"  name="image"  accept=".jpeg,.jpg,.png" value=" "/>
              
               
                <br>
                
                <br>
                <input type="submit" name="submit" value="Update">
                <!-- <input type="button" value="Back" class="homebutton" id="btnHome"  -->
               <!-- onClick="document.location.href='../women/wmem.php'" />  -->
        </form>
  
        {% endblock %}